
<form method='/post' action='/users/add'>
  <label>Manufacturer name</label>
  <input type="text" name="car"></input></br>
  <label>Make</label>
  <input type="text" name="make"></input></br>
  <label>Model</label>
  <input type="text" name="model"></input></br></br>
  <input type="submit" value="submit">
</form>

<a href="/cats">Cats</a>
<a href="/cars">Cars</a>
